apiVersion: v1

name: allure-testops
version: 1.0.0

appVersion: 3.189.2

description: Allure TestOps

home: https://qameta.io
sources:
  - https://hub.docker.com/r/allure/allure-ui
  - https://hub.docker.com/r/allure/allure-uaa
  - https://hub.docker.com/r/allure/allure-report

maintainers:
  - name: eroshenkoam
    email: eroshenkoam@qameta.io
  - name: Andrey Ryoo
    email: andrey.ryoo@qameta.io
