apiVersion: v2
name: allure-testops
version: 2023.5.9
appVersion: 4.20.3

description: Allure TestOps

kubeVersion: '>= 1.14.0-0'

home: https://qameta.io
sources:
  - https://hub.docker.com/r/allure/allure-ui
  - https://hub.docker.com/r/allure/allure-uaa
  - https://hub.docker.com/r/allure/allure-report

maintainers:
  - name: eroshenkoam
    email: eroshenkoam@qameta.io
  - name: Andrey Ryoo
    email: andrey.ryoo@qameta.io

dependencies:
  - name: rabbitmq
    version: 11.14.3
    repository: https://charts.bitnami.com/bitnami
    condition: rabbitmq.enabled
  - name: postgresql
    version: 12.4.2
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: redis
    version: 17.10.1
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: minio
    version: 12.4.2
    repository: https://charts.bitnami.com/bitnami
    condition: minio.enabled
